body {
    font-family: "Arial", sans-serif;
    background-color: #faf8ef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #field {
    border-spacing: 10px;
    background: #bbada0;
    padding: 10px;
    border-radius: 10px;
  }
  
  tr {
    margin: 0;
    padding: 0;
  }
  
  td {
    width: 100px;
    height: 100px;
    background: #cdc1b4;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    color: #776e65;
    transition: all 0.2s ease-in-out;
  }
  
  .tile.filled {
    animation: pop 0.2s ease;
  }
  
  @keyframes pop {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  [data-value="2"] {
    background-color: #eee4da;
    color: #776e65;
  }
  
  [data-value="4"] {
    background-color: #ede0c8;
    color: #776e65;
  }
  
  [data-value="8"] {
    background-color: #f2b179;
    color: #f9f6f2;
  }
  
  [data-value="16"] {
    background-color: #f59563;
    color: #f9f6f2;
  }
  
  [data-value="32"] {
    background-color: #f67c5f;
    color: #f9f6f2;
  }
  
  [data-value="64"] {
    background-color: #f65e3b;
    color: #f9f6f2;
  }
  
  [data-value="128"] {
    background-color: #edcf72;
    color: #f9f6f2;
  }
  
  [data-value="256"] {
    background-color: #edcc61;
    color: #f9f6f2;
  }
  
  [data-value="512"] {
    background-color: #edc850;
    color: #f9f6f2;
  }
  
  [data-value="1024"] {
    background-color: #edc53f;
    color: #f9f6f2;
  }
  
  [data-value="2048"] {
    background-color: #edc22e;
    color: #f9f6f2;
  }
  
  .tile[data-value="0"] {
    background-color: #cdc1b4;
  }
  